<div class="col-sm-3 col-md-3 col-lg-3 sidebar">
  <%= render "shared/iwant" %>
  <div class="sb-user">
    <h5>
      <%= current_user.email %>
    </h5>
    <% if current_user.avatar? %>
      <%= image_tag(current_user.avatar.url, alt:"", class:"img-avatar w70") %>
    <% else %>
      <%= image_tag("user_default.png", alt:"", class:"img-avatar w70") %>
    <% end %>
    <p>
      Số dư tài khoản 0 VNĐ
    </p>
    <%= link_to t(".pay"), "#" %>
    <h6>
      <%= image_tag("icon2.png") %>
      <%= t ".desktop" %>
    </h6>
  </div>
  <div class="personal">
    <h6>
      <%= image_tag("icon3.png") %>
      <%= t ".man_acc" %>
    </h6>
    <ul class="ps ps1">
      <li class="thongtincanhan active-acc">
        <%= link_to do %>
          <i class="glyphicon glyphicon-user"></i>
          <%= t ".info" %>
        <% end %>
      </li>
      <li class="thongbao">
        <%= link_to do %>
          <i class="glyphicon glyphicon-folder-open"></i>
          <%= t ".notification" %>
          <span class="label label-danger">5</span>
        <% end %>
      </li>
    </ul>
    <h6>
      <%= image_tag("icon5.png") %>
      <%= t ".man_product" %>
    </h6>
    <ul class="ps ps2">
      <li class="danhsachchothue">
        <%= link_to do %>
          <i class="glyphicon glyphicon-list-alt"></i>
          <%= t ".list_lease" %>
        <% end %>
      </li>
      <li class="danhsachcanthue">
        <%= link_to do %>
          <i class="glyphicon glyphicon-list-alt"></i>
          <%= t ".list_hire" %>
        <% end %>
      </li>
      <li class="danhsachsanphamquantam">
        <%= link_to do %>
          <i class="glyphicon glyphicon-list-alt"></i>
          <%= t ".wishlist" %>
        <% end %>
      </li>
      <li class="lichsu">
        <%= link_to do %>
          <i class="glyphicon glyphicon-time	"></i>
          <%= t ".history" %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
