<div class="col-sm-3 col-md-3 col-lg-3 sidebar">
  <div class="i-want is-hover">
    <button class="btn btn-warning" id="btn-list-lease" type="button">
      <i class="fa fa-list-ul"></i>
      <%= t ".iwant" %>
    </button>
    <ul class="nav list-lease-box cfi-iwant">
      <li class="list-type-button types-1" data-id="1">
        <%= link_to "#",class:"cfi-open-child cfi-type-a" do %>
          <%= image_tag("sc1.png", class:"sc-w20") %>
          Mẹ và Bé
        <% end %>
      </li>
      <li class="list-type-button types-2" data-id="2">
        <%= link_to "#",class:"cfi-open-child cfi-type-a" do %>
          <%= image_tag("sc2.png", class:"sc-w20") %>
          Giải trí - công nghệ
        <% end %>
      </li>
      <li class="list-type-button types-3" data-id="3">
        <%= link_to "#",class:"cfi-open-child cfi-type-a" do %>
          <%= image_tag("sc3.png", class:"sc-w20") %>
          Thể thao - Du lịch
        <% end %>
      </li>
      <li class="list-type-button types-4" data-id="4">
        <%= link_to "#",class:"cfi-open-child cfi-type-a" do %>
          <%= image_tag("sc4.png", class:"sc-w20") %>
          Sách - truyện
        <% end %>
      </li>
      <li class="list-type-button types-5" data-id="5">
        <%= link_to "#",class:"cfi-open-child cfi-type-a" do %>
          <%= image_tag("sc5.png", class:"sc-w20") %>
          Thời trang
        <% end %>
      </li>
      <li class="list-type-button types-6" data-id="6">
        <%= link_to "#",class:"cfi-open-child cfi-type-a" do %>
          <%= image_tag("sc6.png", class:"sc-w20") %>
          Bất động sản
        <% end %>
      </li>
      <li class="list-type-button types-7" data-id="7">
        <%= link_to "#",class:"cfi-open-child cfi-type-a" do %>
          <%= image_tag("sc7.png", class:"sc-w20") %>
          Xe cộ
        <% end %>
      </li>
      <li class="list-type-button types-8" data-id="8">
        <%= link_to "#",class:"cfi-open-child cfi-type-a" do %>
          <%= image_tag("sc8.png", class:"sc-w20") %>
          Gia dụng - điện - điện tử
        <% end %>
      </li>
      <li class="list-type-button types-9" data-id="9">
        <%= link_to "#",class:"cfi-open-child cfi-type-a" do %>
          <%= image_tag("sc9.png", class:"sc-w20") %>
          Dụng cụ văn phòng - sự kiện
        <% end %>
      </li>
      <li class="list-type-button types-10" data-id="10">
        <%= link_to "#",class:"cfi-open-child cfi-type-a" do %>
          <%= image_tag("sc10.png", class:"sc-w20") %>
          <%= t ".other_product" %>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="sb-user">
    <h5>
      <%= current_user.email %>
    </h5>
    <% if current_user.avatar? %>
      <%= image_tag(current_user.avatar.url, alt:"", class:"img-avatar w70") %>
    <% else %>
      <%= image_tag("user_default.png", alt:"", class:"img-avatar w70") %>
    <% end %>
    <p>
      Số dư tài khoản 0 VNĐ
    </p>
    <%= link_to t(".pay"), "#" %>
    <h6>
      <%= image_tag("icon2.png") %>
      <%= t ".desktop" %>
    </h6>
  </div>
  <div class="personal">
    <h6>
      <%= image_tag("icon3.png") %>
      <%= t ".man_acc" %>
    </h6>
    <ul class="ps ps1">
      <li class="thongtincanhan active-acc">
        <%= link_to do %>
          <i class="glyphicon glyphicon-user"></i>
          <%= t ".info" %>
        <% end %>
      </li>
      <li class="thongbao">
        <%= link_to do %>
          <i class="glyphicon glyphicon-folder-open"></i>
          <%= t ".notification" %>
          <span class="label label-danger">5</span>
        <% end %>
      </li>
    </ul>
    <h6>
      <%= image_tag("icon5.png") %>
      <%= t ".man_product" %>
    </h6>
    <ul class="ps ps2">
      <li class="danhsachchothue">
        <%= link_to do %>
          <i class="glyphicon glyphicon-list-alt"></i>
          <%= t ".list_lease" %>
        <% end %>
      </li>
      <li class="danhsachcanthue">
        <%= link_to do %>
          <i class="glyphicon glyphicon-list-alt"></i>
          <%= t ".list_hire" %>
        <% end %>
      </li>
      <li class="danhsachsanphamquantam">
        <%= link_to do %>
          <i class="glyphicon glyphicon-list-alt"></i>
          <%= t ".wishlist" %>
        <% end %>
      </li>
      <li class="lichsu">
        <%= link_to do %>
          <i class="glyphicon glyphicon-time	"></i>
          <%= t ".history" %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
